Repository boschresearch/blackboxopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, black-examples, mypy, ruff

black:
  name: black
  entry: poetry run black
  language: system

black-examples:
  name: black-examples
  entry: poetry run black --line-length=80
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check .
  language: system

expose colors as function argument
  blackboxopt/visualizations/visualizer.py
Due: black, mypy, ruff

bump version to 4.15.0
  blackboxopt/__init__.py
  pyproject.toml
Due: black, mypy, ruff

switch to percentiles and default to mean and sem
  blackboxopt/visualizations/visualizer.py
Due: black, mypy, ruff

Feature/hypervolume visualization (#104)
  blackboxopt/__init__.py
  blackboxopt/visualizations/visualizer.py
  pyproject.toml
Due: black, mypy, ruff

add on release published as ci/cd trigger
  .github/workflows/python.yaml
Due: none

bump version to 4.15.1
  blackboxopt/__init__.py
  pyproject.toml
Due: black, mypy, ruff

add on release published as ci/cd trigger (#105)
  .github/workflows/python.yaml
  blackboxopt/__init__.py
  pyproject.toml
Due: black, mypy, ruff

move study save and load to io module
  blackboxopt/__init__.py
  blackboxopt/io.py
  blackboxopt/utils.py
  tests/io_test.py
  tests/utils_test.py
Due: black, mypy, ruff

lzma compress study pickle
  blackboxopt/io.py
  pyproject.toml
Due: black, mypy, ruff

Feature/auto compress pickle study (#107)
  blackboxopt/__init__.py
  blackboxopt/io.py
  blackboxopt/utils.py
  pyproject.toml
  tests/io_test.py
  tests/utils_test.py
Due: black, mypy, ruff

add multi objective example and default logger init
  .pre-commit-config.yaml
  blackboxopt/__init__.py.orig
  blackboxopt/examples/__init__.py
  blackboxopt/examples/multi_objective_multi_param.py
  blackboxopt/logger.py
  blackboxopt/optimization_loops/sequential.py
  blackboxopt/utils.py.orig
  docs/examples/multi-objective-multi-param.md
  docs/examples/overview.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/examples_test.py
Due: black, black-examples, mypy, ruff

remove accidentally added orig files
  blackboxopt/__init__.py.orig
  blackboxopt/utils.py.orig
Due: none

add multi objective example and default logger init (#106)
  .pre-commit-config.yaml
  blackboxopt/__init__.py
  blackboxopt/examples/__init__.py
  blackboxopt/examples/multi_objective_multi_param.py
  blackboxopt/logger.py
  blackboxopt/optimization_loops/sequential.py
  blackboxopt/utils.py
  docs/examples/multi-objective-multi-param.md
  docs/examples/overview.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/examples_test.py
Due: black, black-examples, mypy, ruff

add pipefail for tests in action (closes #111)
  .github/workflows/python.yaml
Due: none

fix misaligned __version__
  blackboxopt/__init__.py
Due: black, mypy, ruff

set bash for pytest step to allow pipefail
  .github/workflows/python.yaml
Due: none

add pipefail for tests in action (closes #111) (#112)
  .github/workflows/python.yaml
  blackboxopt/__init__.py
Due: black, mypy, ruff

replace custom coverage action with py-cov-comment
  .github/workflows/python.yaml
  poetry.lock
  pyproject.toml
Due: none

replace custom coverage action with py-cov-comment (#113)
  .github/workflows/python.yaml
  poetry.lock
  pyproject.toml
Due: none

add pre eval callback and stringify user info for logging
  blackboxopt/optimization_loops/sequential.py
  tests/optimization_loops/sequential_test.py
Due: black, mypy, ruff

simplify callback check
  blackboxopt/optimization_loops/sequential.py
Due: black, mypy, ruff

switch from json to pprint formatting for seq loop log
  blackboxopt/optimization_loops/sequential.py
Due: black, mypy, ruff

add pre eval callback and stringify user info for logging (#109)
  blackboxopt/optimization_loops/sequential.py
  tests/optimization_loops/sequential_test.py
Due: black, mypy, ruff

expose num evaluations in reference test, fix docstrings
  blackboxopt/optimizers/testing.py
Due: black, mypy, ruff

expose num evaluations in reference test, fix docstrings (#114)
  blackboxopt/optimizers/testing.py
Due: black, mypy, ruff

remove redundant non dominated sorting in hypervolume vis
  blackboxopt/__init__.py
  blackboxopt/visualizations/visualizer.py
  pyproject.toml
Due: black, mypy, ruff

remove redundant non dominated sorting in hypervolume vis (#116)
  blackboxopt/__init__.py
  blackboxopt/visualizations/visualizer.py
  pyproject.toml
Due: black, mypy, ruff

Update to latest botorch
  blackboxopt/optimizers/botorch_base.py
  poetry.lock
  pyproject.toml
Due: black, mypy, ruff

Bump version
  blackboxopt/__init__.py
  pyproject.toml
Due: black, mypy, ruff

refactor botorch base predict_model_based_best into function
  blackboxopt/optimizers/botorch_base.py
  blackboxopt/optimizers/botorch_utils.py
Due: black, mypy, ruff

add test for predict model based best and extend to mixed space compatibility
  blackboxopt/optimizers/botorch_base.py
  blackboxopt/optimizers/botorch_utils.py
  tests/optimizers/botorch_base_test.py
Due: black, mypy, ruff

refactor botorch base predict_model_based_best into function (#117)
  blackboxopt/optimizers/botorch_base.py
  blackboxopt/optimizers/botorch_utils.py
  tests/optimizers/botorch_base_test.py
Due: black, mypy, ruff

relax pymoo bound to 0.5 using backward compat hypervolume api
  blackboxopt/__init__.py
  blackboxopt/visualizations/visualizer.py
  poetry.lock
  pyproject.toml
Due: black, mypy, ruff

relax pymoo bound to 0.5 using backward compat hypervolume api (#119)
  blackboxopt/__init__.py
  blackboxopt/visualizations/visualizer.py
  poetry.lock
  pyproject.toml
Due: black, mypy, ruff

Path conditions:
  black: any of: \.py$
  black-examples: any of: ^blackboxopt/examples/ and \.py$
  mypy: any of: \.py$
  ruff: any of: \.py$
