Repository boschresearch/blackboxopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, black-examples, mypy, ruff

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.2.0"
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: black-examples
        name: black-examples
        entry: poetry run black --line-length=80
        files: ^blackboxopt/examples/
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: poetry run ruff check .
        language: system
        types: [python]

Run reporting step also on main to fix #115
  .github/workflows/python.yaml
Due: none

Update coverage data
  README.md
  badge.svg
  data.json
  endpoint.json
  htmlcov/coverage_html.js
  htmlcov/d_3042bc2655f7228a___init___py.html
  htmlcov/d_3042bc2655f7228a_base_py.html
  htmlcov/d_3042bc2655f7228a_evaluation_py.html
  htmlcov/d_3042bc2655f7228a_io_py.html
  htmlcov/d_3042bc2655f7228a_logger_py.html
  htmlcov/d_3042bc2655f7228a_utils_py.html
  htmlcov/d_543a4751960f570a_bohb_py.html
  htmlcov/d_543a4751960f570a_botorch_base_py.html
  htmlcov/d_543a4751960f570a_botorch_utils_py.html
  htmlcov/d_543a4751960f570a_hyperband_py.html
  htmlcov/d_543a4751960f570a_random_search_py.html
  htmlcov/d_543a4751960f570a_space_filling_py.html
  htmlcov/d_543a4751960f570a_testing_py.html
  htmlcov/d_5626fc84632af203_utils_py.html
  htmlcov/d_5626fc84632af203_visualizer_py.html
  htmlcov/d_58a71eacde0589c1_bohb_py.html
  htmlcov/d_58a71eacde0589c1_configuration_sampler_py.html
  htmlcov/d_58a71eacde0589c1_hyperband_py.html
  htmlcov/d_58a71eacde0589c1_iteration_py.html
  htmlcov/d_58a71eacde0589c1_optimizer_py.html
  htmlcov/d_58a71eacde0589c1_utils_py.html
  htmlcov/d_930e7a8f3b9e4c57_dask_distributed_py.html
  htmlcov/d_930e7a8f3b9e4c57_multi_objective_multi_param_py.html
  htmlcov/d_b277be4049216c3f_dask_distributed_py.html
  htmlcov/d_b277be4049216c3f_sequential_py.html
  htmlcov/d_b277be4049216c3f_testing_py.html
  htmlcov/d_b277be4049216c3f_utils_py.html
  htmlcov/favicon_32.png
  htmlcov/index.html
  htmlcov/keybd_closed.png
  htmlcov/keybd_open.png
  htmlcov/status.json
  htmlcov/style.css
Due: none

- add pre- and post-evaluation callbacks to dask optimization loop - update mypy due to bug with numpy code
  blackboxopt/__init__.py
  blackboxopt/optimization_loops/dask_distributed.py
  poetry.lock
  pyproject.toml
Due: black, mypy, ruff

add py3.12 support
  .github/workflows/python.yaml
  poetry.lock
  pyproject.toml
Due: none

update numpy and lower python version bound
  poetry.lock
  pyproject.toml
Due: none

remove py3.8 from actions workflow
  .github/workflows/python.yaml
Due: none

simplify num_initial_random check
  blackboxopt/optimizers/botorch_base.py
Due: black, mypy, ruff

add failing test
  blackboxopt/optimizers/botorch_base.py
  tests/optimizers/botorch_base_test.py
Due: black, mypy, ruff

fix sampling of random specs until enough valid evals reported
  blackboxopt/optimizers/botorch_base.py
Due: black, mypy, ruff

Hotfix/random proposals until valid evals (#118)
  blackboxopt/optimizers/botorch_base.py
  tests/optimizers/botorch_base_test.py
Due: black, mypy, ruff

Update coverage data
  README.md
  data.json
  htmlcov/d_3042bc2655f7228a___init___py.html
  htmlcov/d_3042bc2655f7228a_base_py.html
  htmlcov/d_3042bc2655f7228a_evaluation_py.html
  htmlcov/d_3042bc2655f7228a_io_py.html
  htmlcov/d_3042bc2655f7228a_logger_py.html
  htmlcov/d_3042bc2655f7228a_utils_py.html
  htmlcov/d_543a4751960f570a_bohb_py.html
  htmlcov/d_543a4751960f570a_botorch_base_py.html
  htmlcov/d_543a4751960f570a_botorch_utils_py.html
  htmlcov/d_543a4751960f570a_hyperband_py.html
  htmlcov/d_543a4751960f570a_random_search_py.html
  htmlcov/d_543a4751960f570a_space_filling_py.html
  htmlcov/d_543a4751960f570a_testing_py.html
  htmlcov/d_5626fc84632af203_utils_py.html
  htmlcov/d_5626fc84632af203_visualizer_py.html
  htmlcov/d_58a71eacde0589c1_bohb_py.html
  htmlcov/d_58a71eacde0589c1_configuration_sampler_py.html
  htmlcov/d_58a71eacde0589c1_hyperband_py.html
  htmlcov/d_58a71eacde0589c1_iteration_py.html
  htmlcov/d_58a71eacde0589c1_optimizer_py.html
  htmlcov/d_58a71eacde0589c1_utils_py.html
  htmlcov/d_930e7a8f3b9e4c57_dask_distributed_py.html
  htmlcov/d_930e7a8f3b9e4c57_multi_objective_multi_param_py.html
  htmlcov/d_b277be4049216c3f_dask_distributed_py.html
  htmlcov/d_b277be4049216c3f_sequential_py.html
  htmlcov/d_b277be4049216c3f_testing_py.html
  htmlcov/d_b277be4049216c3f_utils_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

add test for dask distributed example
  blackboxopt/examples/dask_distributed.py
  tests/examples_test.py
Due: black, black-examples, mypy, ruff

[wip] add blackboxopt compliant optuna wrapper
  blackboxopt/optimizers/optuna_wrapper.py
  poetry.lock
  pyproject.toml
  tests/optimizers/optuna_wrapper_test.py
Due: black, mypy, ruff

move ADRs from README to existing subdir
  README.md
  architecture_decision_records/create-evaluation-result-from-specification.md
  architecture_decision_records/report-multiple-evaluations.md
Due: none

add fidelities calculator for staged iteration optimizers
  docs/index.md
Due: none

add fidelities calculator for staged iteration optimizers (#123)
  docs/index.md
Due: none

Update coverage data
  badge.svg
  data.json
  endpoint.json
  htmlcov/d_3042bc2655f7228a___init___py.html
  htmlcov/d_3042bc2655f7228a_base_py.html
  htmlcov/d_3042bc2655f7228a_evaluation_py.html
  htmlcov/d_3042bc2655f7228a_io_py.html
  htmlcov/d_3042bc2655f7228a_logger_py.html
  htmlcov/d_3042bc2655f7228a_utils_py.html
  htmlcov/d_543a4751960f570a_bohb_py.html
  htmlcov/d_543a4751960f570a_botorch_base_py.html
  htmlcov/d_543a4751960f570a_botorch_utils_py.html
  htmlcov/d_543a4751960f570a_hyperband_py.html
  htmlcov/d_543a4751960f570a_random_search_py.html
  htmlcov/d_543a4751960f570a_space_filling_py.html
  htmlcov/d_543a4751960f570a_testing_py.html
  htmlcov/d_5626fc84632af203_utils_py.html
  htmlcov/d_5626fc84632af203_visualizer_py.html
  htmlcov/d_58a71eacde0589c1_bohb_py.html
  htmlcov/d_58a71eacde0589c1_configuration_sampler_py.html
  htmlcov/d_58a71eacde0589c1_hyperband_py.html
  htmlcov/d_58a71eacde0589c1_iteration_py.html
  htmlcov/d_58a71eacde0589c1_optimizer_py.html
  htmlcov/d_58a71eacde0589c1_utils_py.html
  htmlcov/d_930e7a8f3b9e4c57_dask_distributed_py.html
  htmlcov/d_930e7a8f3b9e4c57_multi_objective_multi_param_py.html
  htmlcov/d_b277be4049216c3f_dask_distributed_py.html
  htmlcov/d_b277be4049216c3f_sequential_py.html
  htmlcov/d_b277be4049216c3f_testing_py.html
  htmlcov/d_b277be4049216c3f_utils_py.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/style.css
Due: none

add file based distributed optimization loop
  blackboxopt/optimization_loops/file_based_distributed.py
  tests/optimization_loops/file_based_distributed_test.py
Due: black, mypy, ruff

add callbacks, logging, comments, handle race condition
  blackboxopt/optimization_loops/file_based_distributed.py
Due: black, mypy, ruff

bump version -> 5.1.0
  blackboxopt/__init__.py
  pyproject.toml
Due: black, mypy, ruff

add callback tests
  tests/optimization_loops/file_based_distributed_test.py
Due: black, mypy, ruff

add missing thread join in callback test
  tests/optimization_loops/file_based_distributed_test.py
Due: black, mypy, ruff

Add test for dask distributed optimization loop
  blackboxopt/optimization_loops/dask_distributed.py
  tests/optimization_loops/dask_distributed_test.py
Due: black, mypy, ruff

callbacks for dask optimization loop (#122)
  blackboxopt/__init__.py
  blackboxopt/optimization_loops/dask_distributed.py
  poetry.lock
  pyproject.toml
  tests/optimization_loops/dask_distributed_test.py
Due: black, mypy, ruff

add basic docs for optimizers and loops
  CONTRIBUTING.md
  docs/index.md
  docs/optimization-loops/dask-distributed.md
  docs/optimization-loops/overview.md
  docs/optimization-loops/sequential.md
  docs/optimization-loops/testing.md
  docs/optimizers/bohb.md
  docs/optimizers/botorch.md
  docs/optimizers/space-filling.md
  mkdocs.yml
  pyproject.toml
Due: none

add badges
  README.md
  docs/index.md
Due: none

bump __version__
  blackboxopt/__init__.py
Due: black, mypy, ruff

add docs page for optimizer ref tests
  README.md
  docs/optimizers/testing.md
  mkdocs.yml
Due: none

add basic docs for optimizers and loops (#125)
  CONTRIBUTING.md
  README.md
  blackboxopt/__init__.py
  docs/index.md
  docs/optimization-loops/dask-distributed.md
  docs/optimization-loops/overview.md
  docs/optimization-loops/sequential.md
  docs/optimization-loops/testing.md
  docs/optimizers/bohb.md
  docs/optimizers/botorch.md
  docs/optimizers/space-filling.md
  docs/optimizers/testing.md
  mkdocs.yml
  pyproject.toml
Due: black, mypy, ruff

update actions to avoid coverage report on release
  .github/workflows/python.yaml
Due: none

update actions to avoid coverage report on release (#126)
  .github/workflows/python.yaml
Due: none

Update coverage data
  data.json
  htmlcov/d_3042bc2655f7228a___init___py.html
  htmlcov/d_3042bc2655f7228a_base_py.html
  htmlcov/d_3042bc2655f7228a_evaluation_py.html
  htmlcov/d_3042bc2655f7228a_io_py.html
  htmlcov/d_3042bc2655f7228a_logger_py.html
  htmlcov/d_3042bc2655f7228a_utils_py.html
  htmlcov/d_543a4751960f570a_bohb_py.html
  htmlcov/d_543a4751960f570a_botorch_base_py.html
  htmlcov/d_543a4751960f570a_botorch_utils_py.html
  htmlcov/d_543a4751960f570a_hyperband_py.html
  htmlcov/d_543a4751960f570a_random_search_py.html
  htmlcov/d_543a4751960f570a_space_filling_py.html
  htmlcov/d_543a4751960f570a_testing_py.html
  htmlcov/d_5626fc84632af203_utils_py.html
  htmlcov/d_5626fc84632af203_visualizer_py.html
  htmlcov/d_58a71eacde0589c1_bohb_py.html
  htmlcov/d_58a71eacde0589c1_configuration_sampler_py.html
  htmlcov/d_58a71eacde0589c1_hyperband_py.html
  htmlcov/d_58a71eacde0589c1_iteration_py.html
  htmlcov/d_58a71eacde0589c1_optimizer_py.html
  htmlcov/d_58a71eacde0589c1_utils_py.html
  htmlcov/d_930e7a8f3b9e4c57_dask_distributed_py.html
  htmlcov/d_930e7a8f3b9e4c57_multi_objective_multi_param_py.html
  htmlcov/d_b277be4049216c3f_dask_distributed_py.html
  htmlcov/d_b277be4049216c3f_sequential_py.html
  htmlcov/d_b277be4049216c3f_testing_py.html
  htmlcov/d_b277be4049216c3f_utils_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none
