Repository boschresearch/blackboxopt: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, black-examples, mypy, ruff

black:
  name: black
  entry: poetry run black
  language: system

black-examples:
  name: black-examples
  entry: poetry run black --line-length=80
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check .
  language: system

Set default version to latest with mike 2.2.0
  index.html
Due: none

fix botorch base optimizer fantasize observation noise argument change
  README.md
  blackboxopt/__init__.py
  blackboxopt/optimizers/botorch_base.py
  pyproject.toml
  tests/optimizers/botorch_base_test.py
  uv.lock
Due: black, mypy, ruff

update ci/cd linting to py314
  .github/workflows/python.yaml
Due: none

reformat
  tests/optimizers/botorch_base_test.py
Due: black, mypy, ruff

fix botorch base optimizer fantasize observation noise argument change (#136)
  .github/workflows/python.yaml
  README.md
  blackboxopt/__init__.py
  blackboxopt/optimizers/botorch_base.py
  pyproject.toml
  tests/optimizers/botorch_base_test.py
  uv.lock
Due: black, mypy, ruff

ci: Update coverage data
  README.md
  badge.svg
  data.json
  endpoint.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_3042bc2655f7228a___init___py.html
  htmlcov/z_3042bc2655f7228a_base_py.html
  htmlcov/z_3042bc2655f7228a_evaluation_py.html
  htmlcov/z_3042bc2655f7228a_io_py.html
  htmlcov/z_3042bc2655f7228a_logger_py.html
  htmlcov/z_3042bc2655f7228a_utils_py.html
  htmlcov/z_543a4751960f570a_bohb_py.html
  htmlcov/z_543a4751960f570a_botorch_base_py.html
  htmlcov/z_543a4751960f570a_botorch_utils_py.html
  htmlcov/z_543a4751960f570a_hyperband_py.html
  htmlcov/z_543a4751960f570a_random_search_py.html
  htmlcov/z_543a4751960f570a_space_filling_py.html
  htmlcov/z_543a4751960f570a_testing_py.html
  htmlcov/z_5626fc84632af203_utils_py.html
  htmlcov/z_5626fc84632af203_visualizer_py.html
  htmlcov/z_58a71eacde0589c1_bohb_py.html
  htmlcov/z_58a71eacde0589c1_configuration_sampler_py.html
  htmlcov/z_58a71eacde0589c1_hyperband_py.html
  htmlcov/z_58a71eacde0589c1_iteration_py.html
  htmlcov/z_58a71eacde0589c1_optimizer_py.html
  htmlcov/z_58a71eacde0589c1_utils_py.html
  htmlcov/z_930e7a8f3b9e4c57_dask_distributed_py.html
  htmlcov/z_930e7a8f3b9e4c57_multi_objective_multi_param_py.html
  htmlcov/z_b277be4049216c3f_dask_distributed_py.html
  htmlcov/z_b277be4049216c3f_file_based_distributed_py.html
  htmlcov/z_b277be4049216c3f_sequential_py.html
  htmlcov/z_b277be4049216c3f_testing_py.html
  htmlcov/z_b277be4049216c3f_utils_py.html
Due: none

fix predict model based best on empty model
  blackboxopt/__init__.py
  blackboxopt/optimizers/botorch_utils.py
  pyproject.toml
  tests/optimizers/botorch_utils_test.py
  uv.lock
Due: black, mypy, ruff

reformat
  tests/optimizers/botorch_utils_test.py
Due: black, mypy, ruff

fix import order in test
  tests/optimizers/botorch_utils_test.py
Due: black, mypy, ruff

fix predict model based best on empty model (#137)
  blackboxopt/__init__.py
  blackboxopt/optimizers/botorch_utils.py
  pyproject.toml
  tests/optimizers/botorch_utils_test.py
  uv.lock
Due: black, mypy, ruff

ci: Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_3042bc2655f7228a___init___py.html
  htmlcov/z_3042bc2655f7228a_base_py.html
  htmlcov/z_3042bc2655f7228a_evaluation_py.html
  htmlcov/z_3042bc2655f7228a_io_py.html
  htmlcov/z_3042bc2655f7228a_logger_py.html
  htmlcov/z_3042bc2655f7228a_utils_py.html
  htmlcov/z_543a4751960f570a_bohb_py.html
  htmlcov/z_543a4751960f570a_botorch_base_py.html
  htmlcov/z_543a4751960f570a_botorch_utils_py.html
  htmlcov/z_543a4751960f570a_hyperband_py.html
  htmlcov/z_543a4751960f570a_random_search_py.html
  htmlcov/z_543a4751960f570a_space_filling_py.html
  htmlcov/z_543a4751960f570a_testing_py.html
  htmlcov/z_5626fc84632af203_utils_py.html
  htmlcov/z_5626fc84632af203_visualizer_py.html
  htmlcov/z_58a71eacde0589c1_bohb_py.html
  htmlcov/z_58a71eacde0589c1_configuration_sampler_py.html
  htmlcov/z_58a71eacde0589c1_hyperband_py.html
  htmlcov/z_58a71eacde0589c1_iteration_py.html
  htmlcov/z_58a71eacde0589c1_optimizer_py.html
  htmlcov/z_58a71eacde0589c1_utils_py.html
  htmlcov/z_930e7a8f3b9e4c57_dask_distributed_py.html
  htmlcov/z_930e7a8f3b9e4c57_multi_objective_multi_param_py.html
  htmlcov/z_b277be4049216c3f_dask_distributed_py.html
  htmlcov/z_b277be4049216c3f_file_based_distributed_py.html
  htmlcov/z_b277be4049216c3f_sequential_py.html
  htmlcov/z_b277be4049216c3f_testing_py.html
  htmlcov/z_b277be4049216c3f_utils_py.html
Due: none

switch from random to sobol sampling for GPBO random initial samples
  blackboxopt/optimizers/botorch_base.py
  pyproject.toml
  uv.lock
Due: black, mypy, ruff

fix formmatting
  blackboxopt/optimizers/botorch_base.py
Due: black, mypy, ruff

switch from random to sobol sampling for GPBO random initial samples (#139)
  blackboxopt/optimizers/botorch_base.py
  pyproject.toml
  uv.lock
Due: black, mypy, ruff

update docstring to pass linting
  blackboxopt/visualizations/visualizer.py
Due: black, mypy, ruff

refactor incumbent computation to share existing implementation
  blackboxopt/visualizations/utils.py
  blackboxopt/visualizations/visualizer.py
  tests/examples_test.py
Due: black, mypy, ruff

Add visualization with objectiv over iterations including constraint violation indicators
  blackboxopt/__init__.py
  blackboxopt/examples/visualize_objective_over_iteration.py
  blackboxopt/visualizations/utils.py
  blackboxopt/visualizations/visualizer.py
  pyproject.toml
  tests/examples_test.py
  tests/visualization_test.py
  uv.lock
Due: black, black-examples, mypy, ruff

Update visualization test
  tests/visualization_test.py
Due: black, mypy, ruff

Add visualization with objective over iterations including constraint violation indicators (#138)
  blackboxopt/__init__.py
  blackboxopt/examples/visualize_objective_over_iteration.py
  blackboxopt/visualizations/utils.py
  blackboxopt/visualizations/visualizer.py
  pyproject.toml
  tests/examples_test.py
  tests/visualization_test.py
  uv.lock
Due: black, black-examples, mypy, ruff

ci: Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_3042bc2655f7228a___init___py.html
  htmlcov/z_3042bc2655f7228a_base_py.html
  htmlcov/z_3042bc2655f7228a_evaluation_py.html
  htmlcov/z_3042bc2655f7228a_io_py.html
  htmlcov/z_3042bc2655f7228a_logger_py.html
  htmlcov/z_3042bc2655f7228a_utils_py.html
  htmlcov/z_543a4751960f570a_bohb_py.html
  htmlcov/z_543a4751960f570a_botorch_base_py.html
  htmlcov/z_543a4751960f570a_botorch_utils_py.html
  htmlcov/z_543a4751960f570a_hyperband_py.html
  htmlcov/z_543a4751960f570a_random_search_py.html
  htmlcov/z_543a4751960f570a_space_filling_py.html
  htmlcov/z_543a4751960f570a_testing_py.html
  htmlcov/z_5626fc84632af203_utils_py.html
  htmlcov/z_5626fc84632af203_visualizer_py.html
  htmlcov/z_58a71eacde0589c1_bohb_py.html
  htmlcov/z_58a71eacde0589c1_configuration_sampler_py.html
  htmlcov/z_58a71eacde0589c1_hyperband_py.html
  htmlcov/z_58a71eacde0589c1_iteration_py.html
  htmlcov/z_58a71eacde0589c1_optimizer_py.html
  htmlcov/z_58a71eacde0589c1_utils_py.html
  htmlcov/z_930e7a8f3b9e4c57_dask_distributed_py.html
  htmlcov/z_930e7a8f3b9e4c57_multi_objective_multi_param_py.html
  htmlcov/z_930e7a8f3b9e4c57_visualize_objective_over_iteration_py.html
  htmlcov/z_b277be4049216c3f_dask_distributed_py.html
  htmlcov/z_b277be4049216c3f_file_based_distributed_py.html
  htmlcov/z_b277be4049216c3f_sequential_py.html
  htmlcov/z_b277be4049216c3f_testing_py.html
  htmlcov/z_b277be4049216c3f_utils_py.html
Due: none

add lower bound for urlib3 due to cve and bump version
  blackboxopt/__init__.py
  pyproject.toml
  uv.lock
Due: black, mypy, ruff

only do evaluation spec book-keeping if batch size specified
  blackboxopt/__init__.py
  blackboxopt/optimizers/botorch_base.py
  pyproject.toml
  tests/optimizers/botorch_base_test.py
  uv.lock
Due: black, mypy, ruff

add multi objective BOHB optimizer
  blackboxopt/__init__.py
  blackboxopt/optimizers/hyperband.py
  blackboxopt/optimizers/mobohb.py
  blackboxopt/optimizers/staged/bohb.py
  blackboxopt/optimizers/staged/hyperband.py
  blackboxopt/optimizers/staged/iteration.py
  blackboxopt/optimizers/staged/kde_sampler.py
  blackboxopt/optimizers/staged/mobohb.py
  blackboxopt/optimizers/staged/optimizer.py
  blackboxopt/optimizers/staged/utils.py
  docs/optimizers/mobohb.md
  mkdocs.yml
  pyproject.toml
  tests/optimizers/bohb_test.py
  tests/optimizers/mobohb_test.py
  tests/optimizers/staged/bohb_test.py
  tests/optimizers/staged/iteration_test.py
  tests/optimizers/staged/kde_sampler_test.py
  tests/optimizers/staged/mobohb_test.py
  uv.lock
Due: black, mypy, ruff

clean up docstrings in kde sampler
  blackboxopt/optimizers/staged/kde_sampler.py
Due: black, mypy, ruff

raise pymoo lower version bound for mobohb
  pyproject.toml
  uv.lock
Due: none

fix non-finite rows leaking into the good KDE, and broken acquisition fallback
  blackboxopt/optimizers/staged/kde_sampler.py
  blackboxopt/optimizers/staged/mobohb.py
  tests/optimizers/mobohb_test.py
  tests/optimizers/staged/kde_sampler_test.py
Due: black, mypy, ruff

formatting
  tests/optimizers/mobohb_test.py
Due: black, mypy, ruff

Path conditions:
  black: any of: \.py$
  black-examples: any of: ^blackboxopt/examples/ and \.py$
  mypy: any of: \.py$
  ruff: any of: \.py$
